body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  display: flex;

  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  height: 58px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logo .jorney {
  text-decoration: none;
  color: #fff;
  padding-left: 79px;
  font-family: "Ubuntu", sans-serif;
}
.logo {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}
.login {
  display: inline-block;
}

.jorney:hover {
  color: rgba(1, 129, 63, 1);
}

.img-hover:hover {
  background-color: #3cb878;
}
.nav-item a {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 24px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 79px; */
}
.icon {
  display: flex;
  align-items: center;
}

.register {
  width: 444px;
  height: 584px;
  background-color: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 31px 59px 15px 61px;
  box-sizing: border-box;
  display: inline-block;
}
.shape {
  background-color: #3cb878;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 35px;
}
.sign-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}
.right-nav a:hover {
  color: rgba(1, 129, 63, 1);
}

.sign-up a {
  text-decoration: none;
  text-align: center;
}
.right-nav {
  color: #fff;
  font-family: "Ubuntu", sans-serif;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.sign {
  color: #434343;
  font-size: 20px;
}
.log {
  padding-top: 5px;
  color: #3cb878;
  font-size: 14px;
  line-height: 14px;
}
.log:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}

.button-wrapper {
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  width: 160px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
}
.btn-facebook {
  background-color: rgba(48, 93, 184, 1);
}

.btn-google {
  background-color: rgba(223, 74, 50, 1);
}
.btn-facebook:hover {
  background-color: rgba(2, 34, 99, 1);
}
.btn-google:hover {
  background-color: rgba(171, 31, 9, 1);
}
.btn-img::after {
  content: " ";
  width: 1px;
  height: 28px;
  background-color: rgba(10, 22, 47, 1);
  position: absolute;
}

.btn-img {
  position: relative;
}
.line-wrapp {
  display: flex;
  align-items: center;
}
.line {
  height: 1px;
  width: 152px;
  background: rgba(242, 242, 242, 1);
}
.line-text {
  margin-left: 3px;
  margin-right: 3px;
  color: #848484;
  font-size: 14px;
  line-height: 14px;
}
.input-item {
  border: 1px solid rgba(0, 0, 0, 0.21);
  fill: #fff;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 15px;
  padding-left: 19px;
  height: 44.083px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
}
.input-reg {
  fill: #fff;

  flex-direction: column;
}
.input-item:focus {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
  outline: none;
}

.input-item:focus::placeholder {
  color: #434343;
  font-size: 14px;
  line-height: 14px;
}

.text-one {
  font-size: 14px;
  line-height: 14px;
  font-family: "Ubuntu", sans-serif;
  color: #434343;
  margin-left: 10px;
}

.text-two {
  color: #3cb878;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  line-height: 14px;
}

.btn-last {
  margin-top: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  height: 46px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: rgba(60, 184, 120, 0.8);
  position: relative;
}

.btn-last:hover {
  background-color: rgba(1, 129, 63, 1);
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.custom-checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.custom-checkbox__box {
  position: absolute;
  display: flex;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #f2f2f2;

  border-radius: 5px;
}

.custom-checkbox__box:after {
  content: "";
  margin: 10% auto auto auto;
  display: none;
}

.custom-checkbox__input:checked ~ .custom-checkbox__box {
  background-color: transparent;
}

.custom-checkbox__input:checked ~ .custom-checkbox__box:after {
  display: block;
}

.custom-checkbox__box:after {
  left: 0.35em;
  top: 0.1em;
  width: 30%;
  height: 60%;
  border: solid green;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
